#head {
margin: 9;
  text-align: center;
}
.form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#table{
  margin: auto;
  width: 800px;
}
#btn2{
  margin-right: 100px;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
